%html
  %head
    %title Extreme Startup - #{name}
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %link(rel="stylesheet" href="/css/main.css")
  %body
    .container-narrow
      .jumbotron
        %h1 #{name} 
        %h2 har  #{score} poeng
        %table{:class => "table table-striped"}
          - log.each do |logline|
            %tr.player{:class => logline.status}
              %td #{logline.id}
              %td #{logline.result}
              %td #{logline.points} poeng!
     
      .jumbotron
        %a{ :href => "/withdraw/#{playerid}", :class =>"btn btn-large btn-danger"}
          Jeg trekker meg :(

      :javascript
        refresh = function() { window.location.reload(); };
        setTimeout(refresh, 10000);